SANITY_PROJECT_ID=3cdkfsee
SANITY_DATASET=production
SANITY_STUDIO_URL=https://gaseuniki.sanity.studio/
SANITY_STUDIO_APP_ID=sv5i8ziveqcvwqfrrbx47dlo
SANITY_WRITE_TOKEN=your_write_token_here
RESEND_API_KEY=your_resend_key_here
ADMIN_NOTIFICATION_EMAIL=your_email@example.com
PUBLIC_GTM_ID=GTM-XXXXXXX
SITE_URL=https://gas-eyniki.gr
SITE_NAME=ΓΑΣ Ευνίκη Ελευσίνας
