---
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';

const POSTS_QUERY = `*[
  _type == "newsPost"
  && defined(slug.current)
]|order(publishedDate desc)[0...12]{_id, title, slug, publishedDate}`;

const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);
---

<main class="container mx-auto min-h-screen max-w-3xl p-8">
  <h1 class="mb-8 text-4xl font-bold">Νέα</h1>
  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li class="hover:underline">
          <a href={`/posts/${post.slug.current}`}>
            <h2 class="text-xl font-semibold">{post.title}</h2>
            <p>{new Date(post.publishedDate).toLocaleDateString('el-GR')}</p>
          </a>
        </li>
      ))
    }
  </ul>
  {
    posts.length === 0 && (
      <p class="text-on-surface-variant">Δεν υπάρχουν δημοσιευμένα νέα ακόμα.</p>
    )
  }
</main>
